
#wrapper
{
border:3px solid violet;
width:700px;
height:650px;
margin:0px auto;
background-color: rgba(255,0,0,1);
}

header
{
border:2px solid blue;
width:650px;
height:100px;
margin:0px auto;
background-color:#66FFFF;
}



nav
{
border:1px solid black;
margin:0px auto;
width:600px;
height:20px;
background-color:#CCFF99;
}


#container
{
width:650px;
margin:0px auto;
height:400px;
}


#sec
{
border:1px solid black;
margin: 0 auto;
float: left;
width: 450px;
height: 395px;
background-color:#6699FF;
}


article
{
border:1px solid black;
height:90px;
width:95%;
margin-left:10px;
background-color:#FF9900;
}


aside
{
margin: 0 auto;
float:right;
width: 180px;
height: 395px;
background-color:#CC66FF;
border:1px solid black;
}


footer
{
border:2px solid blue;
width:650px;
height:50px;
margin:0px auto;
background-color:#66FFFF;
}

header#main nav ul {
	line-height: 30px;
	text-decoration: underline;
	
	
}